{
  "jsc": {
    "externalHelpers": false,
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./src",
    "paths": {
      "@utils/*": [
        "utils/*"
      ]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
